[Desktop Entry]
Type=Application
Name=Add Calamares Desktop Icon
Exec=/usr/lib/quailinux/clean-live-desktop
NoDisplay=true
Hidden=true
X-GNOME-Autostart-enabled=false
