# QuaiLinux automated Debian netinst preseed.
#
# Warning: this file is configured for unattended installation and automatic
# partitioning. Booting an ISO that uses it can erase the selected target disk.

### Localization
d-i debian-installer/locale string en_US.UTF-8
d-i debian-installer/language string en
d-i debian-installer/country string US
d-i keyboard-configuration/xkb-keymap select us

### Network
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string quailinux
d-i netcfg/get_domain string local

### Debian mirror
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
d-i apt-setup/services-select multiselect security, updates
d-i apt-setup/non-free-firmware boolean true
d-i apt-setup/contrib boolean true
d-i apt-setup/non-free boolean true

### Accounts
d-i passwd/root-login boolean false
d-i passwd/user-fullname string QuaiLinux User
d-i passwd/username string quai
# Change this before shipping an ISO. The default password is: quailinux
d-i passwd/user-password password quailinux
d-i passwd/user-password-again password quailinux
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false

### Clock
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Prague
d-i clock-setup/ntp boolean true

### Partitioning
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

### Package selection
tasksel tasksel/first multiselect standard, kde-desktop
d-i pkgsel/include string sudo firmware-linux firmware-linux-free firmware-linux-nonfree plasma-discover kde-standard sddm curl ca-certificates
d-i pkgsel/upgrade select full-upgrade
popularity-contest popularity-contest/participate boolean false

### Bootloader
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true

### Finish
d-i preseed/late_command string \
    in-target /bin/sh -c 'usermod -aG sudo quai'; \
    cp /cdrom/quailinux/postinstall.sh /target/tmp/quailinux-postinstall.sh; \
    in-target /bin/sh /tmp/quailinux-postinstall.sh; \
    in-target rm -f /tmp/quailinux-postinstall.sh

d-i finish-install/reboot_in_progress note
