[Desktop Entry]
Type=Application
Version=1.0
Name=Install QuaiLinux
GenericName=System Installer
Comment=Install QuaiLinux to this computer
Exec=quailinux-installer
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;KDE;System;
